extends layout
append head
    link(rel="stylesheet" href="/stylesheets/genres.css")

block content
    .mainContentContainer 
        .mainContent 
            .mainContentFloat 
                .leftContainer 
                    #topcolumn(class="col")
                        .movies-container
                          .genre-heading 
                            h3.genre-name Action Movies
                          .genre-container
                            each movie, index in movies
                              .movie-item
                                a(href=`/movies/${movie.id}/` id="ok")
                                  img(src=`${movie.posterPath}`)
                          .genre-heading 
                            h3.genre-name Comedy Movies
                          .genre-container
                            each movie, index in movies
                              .movie-item
                                a(href=`/movies/${movie.id}/` id="ok")
                                  img(src=`${movie.posterPath}`)
                          .genre-heading 
                            h3.genre-name Comedy Movies
                          .genre-container
                            each movie, index in movies
                              .movie-item
                                a(href=`/movies/${movie.id}/` id="ok")
                                  img(src=`${movie.posterPath}`)
                          .genre-heading 
                            h3.genre-name Comedy Movies
                          .genre-container
                            each movie, index in movies
                              .movie-item
                                a(href=`/movies/${movie.id}/` id="ok")
                                  img(src=`${movie.posterPath}`)
                .rightContainerGrid  
                    .smallHeadingContainer 
                        h2.smallHeading Genres
                        p Genre 1
                        p Genre 2
                        p Genre 3
                        p Genre 4
                        p Genre 5

        
