extends layout
include utils.pug
block content
    .mainContentContainer 
        .mainContent 
            .mainContentFloat 
                .leftContainer 
                    #topcolumn(class="col")
                        #imagecolumn(class="col") 
                            img(src=`${movieObj.posterPath}`)
                            p Movie Lists (add or remove)
                            .smallHeadingcontainer 
                            h2.smallHeading Popularity 
                            span= `${ratingDecimal} out of 10`
                        #metacolumn(class="col") 
                            .movieTitleContainer
                                h1#movieTitle= movieObj.title
                            .smallHeadingContainer
                                h2#movieDate= `Released: ${movieObj.dateReleased}`
                            .smallHeadingContainer
                                h2.smallHeading Overview:
                                span= movieObj.summary
                .rightContainer  
                    .smallHeadingContainer
                        h2.smallHeading Viewers also enjoyed 
                    .similarMovies
                        span Similar Movies Here?
                    .smallHeadingContainer 
                        h2.smallHeading Genres
                        p Genre 1
                        p Genre 2
                        p Genre 3
                        p Genre 4
                        p Genre 5
        .mainContent
            .reviewContent
                .smallHeadingContainer 
                    h2.smallHeading Reviews
                .reviewContainer
                .reviewHeader
                if reviews.length
                    each singleReview in reviews
                        span.reviewTitle= singleReview.title
                        .reviewMeta     
                            .reviewAuthor= singleReview.userId
                            .reviewDate= singleReview.createdAt
                        .smallHeadingContainer
                                span= singleReview.reviewText
                    p
                else
                    span.reviewTitle Submit The First Review!
                    p 
                    p