extends layout
include utils.pug
block content
    .mainContentContainer 
        .mainContent 
            .mainContentFloat 
                .leftContainer 
                    #topcolumn(class="col")
                        #imagecolumn(class="col") 
                            img(src=`${movieObj.poster_path}`)
                            p Movie Poster (above)
                            p Movie Lists (add or remove)
                            p Star Ratings here
                        #metacolumn(class="col") 
                            .movieTitleContainer
                                h1#movieTitle= movieObj.title
                            .smallHeadingContainer
                                h2#movieDate= `Released: ${movieObj.release_date}`
                            .smallHeadingContainer
                                h2.smallHeading Overview:
                                span= movieObj.overview
                .rightContainer  
                    .smallHeadingContainer
                        h2.smallHeading Viewers also enjoyed 
                    .similarMovies
                        span Similar Movies Here?
                    .smallHeadingContainer 
                        h2.smallHeading Genres
                        p Genre 1
                        p Genre 2
                        p Genre 3
                        p Genre 4
                        p Genre 5
        .mainContent
            .reviewContent
                .smallHeadingContainer 
                    h2.smallHeading Reviews
                .reviewContainer
                    .reviewHeader
                        span.reviewTitle= reviewObj.title
                        .reviewMeta     
                            .reviewAuthor= reviewObj.userId
                            .reviewDate= reviewObj.reviewDate
                        .smallHeadingContainer
                            span= reviewObj.reviewText
                    .reviewHeader
                        span.reviewTitle= reviewObj.title
                        .reviewMeta     
                            .reviewAuthor= reviewObj.userId
                            .reviewDate= reviewObj.reviewDate
                        .smallHeadingContainer
                            span= reviewObj.reviewText
                    .reviewHeader
                        span.reviewTitle= reviewObj.title
                        .reviewMeta     
                            .reviewAuthor= reviewObj.userId
                            .reviewDate= reviewObj.reviewDate
                        .smallHeadingContainer
                            span= reviewObj.reviewText
                    .reviewHeader
                        span.reviewTitle= reviewObj.title
                        .reviewMeta     
                            .reviewAuthor= reviewObj.userId
                            .reviewDate= reviewObj.reviewDate
                        .smallHeadingContainer
                            span= reviewObj.reviewText