extends layout
include utils.pug
append head
    link(rel="stylesheet" href="/stylesheets/reviews.css")
    script(src='/javascripts/movies.js')

block content
    .mainContentContainer 
        .mainContent 
            .mainContentFloat 
                .leftContainer 
                    #topcolumn(class="col")
                        #imagecolumn(class="col") 
                            img(src=`${movieObj.posterPath}`)
                            if userStatus
                              p Create a new list on the My Movies page
                              if movieLists
                                div On Watch List:
                                // don't add any more classes to line below, or it will break event listener
                                select(name="movieLists", id="movieListsSelect", class="movieId-"+movieObj.id)
                                  option(value="" selected = inListIndex == 0 ? true : false) ---none---
                                  each list, index in movieLists
                                    option(value=list.id selected = inListIndex - 1 == index ? true : false)= list.name
                            else
                              p Log In to bookmark movies
                            .smallHeadingcontainer 
                            h2.smallHeading Popularity 
                            span= `${ratingDecimal} out of 10`
                        #metacolumn(class="col") 
                            .movieTitleContainer
                                h1#movieTitle= movieObj.title
                            .smallHeadingContainer
                                h2#movieDate= `Released: ${movieObj.dateReleased}`
                            .smallHeadingContainer
                                h2.smallHeading Overview:
                                span= movieObj.summary
                .rightContainer  
                    .smallHeadingContainer
                        h2.smallHeading Viewers also enjoyed 
                    .similarMovies
                        each oneGenreMovie,index in genreMovies
                            .movie-item
                            a(href=`/movies/${oneGenreMovie.id}`)
                                img(src=`${oneGenreMovie.posterPath}`)  
            .reviewContent
                .smallHeadingContainer 
                    h2.smallHeading Reviews
                .reviewContainer
                .reviewHeader
                if userStatus 
                    if reviews.length
                        if hasCurrentReview 
                            span DISPLAYS THEIR CURRENT REVIEW AT THE TOP AND THIS OMITS IT FROM ALL REVIEWS
                            p
                        each singleReview in reviews
                            if singleReview.userId == userStatus
                                span
                            else
                                a(href=`/movies/${movieObj.id}/reviews/new` id="reviewButton") Leave a review! 
                                p
                                span.reviewTitle= singleReview.title
                                .reviewMeta     
                                    .reviewAuthor= `By ${singleReview.User.firstName} ${singleReview.User.lastName}`
                                    .reviewDate= singleReview.createdAt
                                .smallHeadingContainer
                                        span= singleReview.reviewText
                    else
                        span.reviewTitle There are currently no reviews
                        p
                        a(href=`/movies/${movieObj.id}/reviews/new` id="reviewButton") Leave a review!

                else
                    if reviews.length    
                        each singleReview in reviews
                            if singleReview.userId == userStatus
                                span
                            else 
                                span.reviewTitle= singleReview.title
                                .reviewMeta     
                                    .reviewAuthor= `By ${singleReview.User.firstName} ${singleReview.User.lastName}`
                                    .reviewDate= singleReview.createdAt
                                .smallHeadingContainer
                                        span= singleReview.reviewText
                p 
                p
