extends layout
include utils.pug
append head
    link(rel="stylesheet" href="/stylesheets/reviews.css")

block content
    .mainContentContainer 
        .mainContent 
            .mainContentFloat 
                .leftContainer 
                    #topcolumn(class="col")
                        #imagecolumn(class="col") 
                            img(src=`${movieObj.posterPath}`)
                            p Movie Lists (add or remove)
                            .smallHeadingcontainer 
                            h2.smallHeading Popularity 
                            span= `${ratingDecimal} out of 10`
                        #metacolumn(class="col") 
                            .movieTitleContainer
                                h1#movieTitle= movieObj.title
                            .smallHeadingContainer
                                h2#movieDate= `Released: ${movieObj.dateReleased}`
                            .smallHeadingContainer
                                h2.smallHeading Overview:
                                span= movieObj.summary
                .rightContainer  
                    .smallHeadingContainer
                        h2.smallHeading Viewers also enjoyed 
                    .similarMovies
                        each oneGenreMovie,index in genreMovies
                            .movie-item
                            a(href=`/movies/${oneGenreMovie.id}`)
                                img(src=`${oneGenreMovie.posterPath}`)  
            .reviewContent
                .smallHeadingContainer 
                    h2.smallHeading Reviews
                .reviewContainer
                .reviewHeader
                if reviews.length
                    each singleReview in reviews
                        span.reviewTitle= singleReview.title
                        .reviewMeta     
                            .reviewAuthor= `By ${singleReview.User.firstName} ${singleReview.User.lastName}`
                            .reviewDate= singleReview.createdAt
                        .smallHeadingContainer
                                span= singleReview.reviewText
                    p
                else
                    span.reviewTitle There are currently no reviews
                p
                    if userStatus
                        a(href=`/movies/${movieObj.id}/reviews/new` id="reviewButton") Leave a review!
                p 
                p
